# Database Configuration
DB_PATH=mongodb://localhost/test
BACKUP_PATH=xxxxx
LOCAL_DB_FILE=xxxxx

# Server Configuration
NODE_ENV=development
PORT=xxxxx
CRON_PORT=xxxxx
HOST=xxxxx
FRONTEND_HOST=xxxxx
FRONTEND_INVITE_URL=xxxxx
JWT_SECRET=xxxxx
MFA_JWT_TOKEN_SECRET=xxxx
OTP_HASH_SECRET=xxxxx
# If there are multiple origins then add them as a comma separated values i.e. `https://test1.com,https://test2.com`.
ALLOWED_ORIGINS=http://localhost:3000

# Request time-out (in milliseconds)
REQUEST_TIMEOUT=xxxxx

# Number of test data
NUM_TEST_DATA=10

# Stripe Keys
STRIPE_SECRET_KEY=xxxxx
STRIPE_ACCOUNT_ID=xxxxx
STRIPE_WEBHOOK_SECRET=xxxxx
STRIPE_CONNECT_WEBHOOK_SECRET=xxxxx
STRIPE_PAYMENT_WEBHOOK_SECRET=xxxxx


# Amazon S3 Keys
S3_BUCKET_REGION=xxxxx
S3_BUCKET_NAME=xxxxx
S3_USER_KEY=xxxxx
S3_USER_SECRET=xxxxx
AWS_LOG_GROUP_NAME=xxxxx
SES_TEST_EMAIL=xxxxx
SES_SENDER_EMAIL=xxxxx

# Apple Client Keys
APPLE_CLIENT_ID=xxxxx
APPLE_CLIENT_ID_IOS=xxxxx

# Twilio Keys
TWILIO_NUMBER=xxxxx
TWILIO_ACCOUNTSID=xxxxx
TWILIO_AUTHTOKEN=xxxxx

# Slack Webhook
SLACK_WEBHOOK_FOR_LOGS=xxxxx

# Get stream keys
GET_STREAM_MESSAGING_KEY=xxxxx
GET_STREAM_MESSAGING_SECRET=xxxxx

# Supabase keys
SUPABASE_URL=xxxxx
SUPABASE_SERVICE_KEY=xxxxx

# Open ai api keys
OPENAI_API_KEY=xxxxxx
OPENAI_EMBEDDING_MODAL=xxxxxx
OPENAI_MODAL=xxxxxx
OPENAI_EMBEDDING_DIMENSIONS=xxxx

# Pinecone api keys
PINECONE_API_KEY=xxxxxx
PINECONE_INDEX=xxxxxx

# Cohere client token
COHERE_CLIENT_TOKEN=xxxxxx

#Elastic search client
ELASTIC_SEARCH_HOST_URL=http://localhost:9200
ELASTIC_SEARCH_API_KEY=xxxxxxx
 

SES_TEST_EMAIL=xxxxxx
SES_SENDER_EMAIL=xxxxxx

COOKIE_DOMAIN_NAME=xxxxxx

#One signal api keys
ONE_SIGNAL_APP_ID = xxxxxxx
ONE_SIGNAL_REST_API_KEY = xxxxxxx

# Cookies
COOKIE_DOMAIN_NAME=xxxxxx

WORKOS_API_KEY=xxxxxx
WORKOS_CLIENT_ID=xxxxxx
WORKOS_WEBHOOK_SECRET=xxxxxxxxxx